[Unit]
Description=Volar Media Transcoder
After=syslog.target network.target

[Service]
User=volyar
Group=volyar
WorkingDirectory=/home/volyar/Volyar/build
Environment=DOTNET_CLI_TELEMETRY_OPTOUT=1
ExecStart=/usr/bin/dotnet /home/volyar/Volyar/build/Volyar.dll
TimeoutStopSec=10
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target