<template id="media-manager-template">
    <div id="mediaManager">
        <v-server-table v-bind:name="name" url="@System.IO.Path.Join(Context.Request.PathBase.ToString(), "/external/api/media/manager")" class="panel text-center" :data="data" :columns="columns" :options="options" ref="mediaManager">
            <div slot="beforeTable" class="custom-controls">
                <div class="form-group form-inline">
                    <b-dropdown dropright size="sm" id="media-bulk-dropdown" text="Bulk Actions" class="">
                        <b-dropdown-item v-on:click="bulkReconvert">Schedule Reconversion</b-dropdown-item>
                        <b-dropdown-item v-on:click="bulkDelete" variant="danger">Schedule Deletion</b-dropdown-item>
                        <b-dropdown-divider></b-dropdown-divider>
                        <b-dropdown-text style="width: 15rem; word-break: break-word;">
                            These actions cover items visible on the screen.
                        </b-dropdown-text>
                    </b-dropdown>
                </div>
            </div>

            <div slot="createDate" slot-scope="props" v-bind:title="props.row.createDate">
                {{timeago(props.row.createDate)}}
            </div>
            <b-container slot="mediaId" slot-scope="props">
                <b-button v-bind:aria-label="props.row.seriesName + ' ' + props.row.name + ' Edit'" class="btn btn-sm btn-secondary text-center" v-on:click="$bvModal.show('modal-' + props.row.mediaId)">
                    {{props.row.mediaId}}
                </b-button>
                <b-modal size="xl" centered v-bind:id="'modal-' + props.row.mediaId">
                    <div slot="modal-title">
                        <label>{{props.row.mediaId}}&ensp;({{props.row.libraryName}})</label>
                    </div>
                    <b-container fluid>
                        <b-form-group inline id="input-group-info" label-for="input-info">
                            <b-form-row>
                                <b-col>
                                    <label>Index</label>
                                    <b-form-input readonly aria-label="Index" size="sm" id="input-index" v-model="props.row.indexName"></b-form-input>
                                </b-col>
                                <b-col>
                                    <label>Source</label>
                                    <b-form-input readonly aria-label="Source" size="sm" id="input-source" v-model="props.row.sourcePath"></b-form-input>
                                </b-col>
                            </b-form-row>
                        </b-form-group>
                        <b-form-group inline id="input-group-names" label-for="input-season">
                            <b-form-row>
                                <b-col>
                                    <label>Series</label>
                                    <b-form-input aria-label="Series" size="sm" id="input-season" v-model="props.row.seriesName"></b-form-input>
                                </b-col>
                                <b-col>
                                    <label>Name</label>
                                    <b-form-input aria-label="Episode Name" size="sm" id="input-episode" v-model="props.row.name"></b-form-input>
                                </b-col>
                            </b-form-row>
                        </b-form-group>
                        <b-form-group inline id="input-group-season" label-for="input-season">
                            <b-form-row>
                                <b-col>
                                    <label>Season</label>
                                    <b-form-input aria-label="Season Number" size="sm" id="input-season" v-model.number="props.row.seasonNumber" type="number"></b-form-input>
                                </b-col>
                                <b-col>
                                    <label>Episode</label>
                                    <b-form-input aria-label="Episode Number" size="sm" id="input-episode" v-model.number="props.row.episodeNumber" type="number"></b-form-input>
                                </b-col>
                                <b-col>
                                    <label>Absolute Episode</label>
                                    <b-form-input aria-label="Absolute Episode Number" size="sm" id="input-absolute-episode" v-model.number="props.row.absoluteEpisodeNumber" type="number"></b-form-input>
                                </b-col>
                            </b-form-row>
                        </b-form-group>
                        <b-form-group inline id="input-group-remote-db" label-for="input-remote-db">
                            <b-form-row>
                                <b-col>
                                    <label v-if="props.row.imdbId"><a v-bind:href="'https://www.imdb.com/title/' + props.row.imdbId">IMDB</a></label>
                                    <label v-if="!props.row.imdbId">IMDB</label>
                                    <b-form-input aria-label="IMDB ID" size="sm" id="input-imdb" v-model="props.row.imdbId"></b-form-input>
                                </b-col>
                                <b-col>
                                    <label v-if="props.row.tmdbId"><a v-bind:href="'https://www.themoviedb.org/movie/' + props.row.tmdbId">TMDb</a></label>
                                    <label v-if="!props.row.tmdbId">TMDb</label>
                                    <b-form-input aria-label="TMDb ID" size="sm" id="input-tmdb" v-model="props.row.tmdbId"></b-form-input>
                                </b-col>
                                <b-col>
                                    <label v-if="props.row.tvdbId"><a v-bind:href="'http://www.thetvdb.com/?tab=series&id=' + props.row.tvdbId">TVDB</a></label>
                                    <label v-if="!props.row.tvdbId">TVDB</label>
                                    <b-form-input aria-label="TVDB ID" size="sm" id="input-tvdb" v-model="props.row.tvdbId"></b-form-input>
                                </b-col>
                                <b-col>
                                    <label v-if="props.row.tvmazeId"><a v-bind:href="'http://www.tvmaze.com/shows/' + props.row.tvmazeId + '/_'">TVmaze</a></label>
                                    <label v-if="!props.row.tvmazeId">TVmaze</label>
                                    <b-form-input aria-label="TVmaze ID" size="sm" id="input-tvmaze" v-model="props.row.tvmazeId"></b-form-input>
                                </b-col>
                            </b-form-row>
                        </b-form-group>

                    </b-container>

                    <div slot="modal-footer" class="w-100">
                        <b-container>
                            <b-row align-h="between">
                                <b-col cols="6"><b-button aria-label="Schedule Delete Button" variant="danger" v-on:click="$bvModal.hide('modal-' + props.row.mediaId); singleDelete(props.row)">Schedule Delete</b-button></b-col>
                                <b-col cols="6" class="text-right"><b-button aria-label="Save Button" type="submit" variant="primary" v-on:click="$bvModal.hide('modal-' + props.row.mediaId); persistModifications(props.row)">Save</b-button></b-col>
                            </b-row>
                        </b-container>
                    </div>
                </b-modal>
            </b-container>
        </v-server-table>
    </div>
</template>
