<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/external/static/lib/bootstrap.min.css" />

    <script src="~/external/static/lib/vue.js"></script>
    <script src="~/external/static/lib/jquery.min.js"></script>
    <script src="~/external/static/lib/bootstrap.min.js"></script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    @RenderSection("head", required: false)
</head>

<body>
    @RenderBody()
</body>

</html>