<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="internal-nlog.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!-- Formatting for console/stdout logging. -->
    <target xsi:type="ColoredConsole" name="console"
		layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Magenta" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <!-- Formatting for global (Volyar + Microsoft) file logging. -->
    <target
			xsi:type="File"
			name="globalfile"
			layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}"
			fileName="${basedir}/logs/voly-global.log"
			archiveFileName="${basedir}/logs/voly-global-.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="5"
		/>

    <!-- Formatting for -->
    <target
			xsi:type="File"
			name="volyappfile"
			layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}"
			fileName="${basedir}/logs/voly-app.log"
            archiveFileName="${basedir}/logs/voly-app-.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="10"
		/>
  </targets>

  <rules>

    <!-- Globabl logging to disk. -->
    <logger name="*" minlevel="Warn" writeTo="globalfile" />

    <!-- This line blackholes Microsoft namespaced logs to massively reduce the amount of log data for rules below here. -->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />

    <!-- Logging to stdout. -->
    <logger name="*" minlevel="Info" writeTo="console" />

    <!-- Volyar-only Logging to disk. -->
    <logger name="*" minlevel="Debug" writeTo="volyappfile" />

  </rules>
</nlog>